<h1>Peep Community</h1>

	<p>This a simple twitter-like application developed by <a href="http://CiceroOliveira.com">me</a> as a Rails 3 exercise.
	</p>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>